.sub_spec {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.spec_name {
  width: max-content;
}

.spec_value {
  width: 270px;
  margin-left: 15px;
  padding-left: 30px;
}

.spec_values {
  display: flex;
  margin-left: auto;
}

/* .spec_value span {
  width: calc(100% - 25px);
  margin-left: 25px;
} */
