/* header  */

.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 0;
  overflow: hidden;

  transition: 0.4s;
}

.wrapper.active {
  /* padding: 30px 0 50px 0; */
  height: 355px;
}

.category_inner {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.column {
  margin-right: 100px;
}

.column:last-child {
  margin-right: 0px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
  color: #253E63;
}

.sec_title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.subtitle {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.subtitle:hover {
  opacity: 0.8;
}
