/* header  */

.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px -6px 31px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  z-index: 99;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav {
  display: flex;
  align-items: center;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  height: 22px;
  width: 24px;
}

.icon_container img {
  margin-bottom: auto;
}

.nav_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-left: 27px;
  transition: 0.2s;
  color: #253e63;
}

.nav_item:hover {
  opacity: 0.8;
}

.nav_item div {
  margin-top: 5px;
}

.search {
  max-width: 1000px;
  min-width: 200px;
  width: 100%;
}

.search input {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #253e63;
  width: 100%;
  border-radius: 5px;
  padding: 11px 15px 11px 15px;
  outline: none;
}

.logo {
  margin-top: 5px;
}

.category_btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 20px;
  justify-content: center;
  color: white;
  background-color: #253e63;
}

.category_btn:hover {
  background: #1c2f4d;
}

.category_btn img {
  margin-left: 7px;
}

.main_btn {
  text-align: center;
  cursor: pointer;
  width: max-content;
  padding: 13px 50px;
  background: #253e63;
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  transition: 0.2s;
  color: #ffffff;
}

.main_btn:hover {
  background: #1c2f4d;
}

.sec_btn {
  background-color: #fff;
  color: #1c2f4d;
}

.sec_btn:hover {
  background-color: rgba(255, 255, 255, 0.904);
  color: #1c2f4d;
}
