.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

/* compare  */

.section_inner {
  margin-top: 160px;
  margin-bottom: 80px;
}

.error_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error_icon {
  font-weight: 600;
  font-size: 120px;
  line-height: 146px;
}
.error_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 60px;
}
.error_subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 10px;
  max-width: 400px;
  width: 100%;
}

.main_input {
  width: calc(100% - 0px);
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  margin-bottom: 10px;
}

.main_input::placeholder {
  color: rgba(255, 255, 255, 0.705);
}

.section_title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;

  color: #000000;
}

.main_btn {
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 13px 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2c4974;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

.main_btn:hover {
  background: rgba(255, 255, 255, 0.85);
}

.sec_btn {
  background-color: #fff;
  color: #1c2f4d;
}

.sec_btn:hover {
  background-color: rgba(255, 255, 255, 0.704);
  color: #1c2f4d;
}

.section_header {
  display: flex;
  justify-content: space-between;
}

.compare_btn {
  cursor: pointer;
  padding: 8px 23px;
  height: max-content;
  border: 1px solid #2c4974;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2c4974;
  transition: 0.2s;
}

.compare_btn:hover {
  color: #fff;
  background-color: #2c4974;
}

.product_cards {
  width: max-content;
  display: flex;
  margin-left: auto;
}

.cards_wrapper {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.specs {
  margin-top: 35px;
}

.global_spec {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sub_spec {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.spec_name {
  width: max-content;
}

.spec_value {
  width: 270px;
  margin-left: 15px;
}

.spec_values {
  display: flex;
  margin-left: auto;
}
